<div class="mas-grande">
  <div class="contenedor-grande">
    <h1 class="letter">Visit our blog</h1>
    <br>
    <h2 class="letter4">Palm Care & Design Tips</h2>
    <br>
    <div>
      <div class="container">
        <div>
          <img class="imagen" src="./../../../assets/img/planta3.png">
          <h2 class="letter5">The Best Time To Plant Palm Trees in North Georgia</h2>
          <p class="contenido2">The first hurdle to overcome when dreaming of gracing your landscape with
            a touch of the tropics
            is realizing you can grow palm trees year-round...</p>
          <br>
          <button class="custom-button">READ MORE</button>
        </div>
        <div>
          <div>
            <img class="imagen" src="./../../../assets/img/planta4.png">
            <h2 class="letter5">4 Best Cold Hardy Palm Trees Under Six Feet</h2>
            <p class="contenido2">When thinking of a palm tree, most imagine a tall, slender trunk
               with green fronds and coconuts.
               It is almost immediately to relate a palm to tropical...</p>
            <br>
            <button class="custom-button">READ MORE</button>
          </div>
        </div>
        <div>
          <div>
            <img class="imagen" src="./../../../assets/img/planta5.png">
            <h2 class="letter5">Palms - The Perfect Container Plants</h2>
            <p class="contenido2">Palms possess a special allure that brings the feeling of exotic tropical
               paradise wherever they are placed.
               However, not all climates and location...</p>
            <br>
            <button class="custom-button">READ MORE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
