<body>

  <section id="Section">
      <div class="Caja">
        <br>
        <br>
          <h1 class="letter">Perfects palms for you</h1>

          <!-- Grupo1 -->
          <div class="container-card">
              <div class="card-content">
                  <img src="./../../../assets/img/planta5.png" alt="Imagen de Título 2" width="100px" class="img-estilo"/>
                  <h2 class="letter4">Sebal Palms</h2>
                  <p class="letter3">Arrived 2/29/2024</p>
                  <button class="custom-button">Add to cart</button>
              </div>
          </div>

          <!-- Grupo2 -->
          <div class="container-card">
              <div class="card-content">
                  <img src="./../../../assets/img/planta4.png" alt="Imagen de Título 2" width="100px" class="img-estilo"/>
                  <h2 class="letter4">Needle Palms</h2>
                  <p class="letter3">Arrived 2/29/2024</p>
                  <button class="custom-button">Add to cart</button>
              </div>
          </div>

          <!--Grupo3 -->
          <div class="container-card">
              <div class="card-content">
                  <img src="./../../../assets/img/planta3.png" alt="Imagen de Título 2" width="100px" class="img-estilo"/>
                  <h2 class="letter4">Windmill Palms</h2>
                  <p class="letter3">Arrived 2/29/2024</p>
                  <button class="custom-button">Add to cart</button>
              </div>
          </div>

          <!-- Grupo4 -->
          <div class="container-card">
              <div class="card-content">
                  <img src="./../../../assets/img/planta2.png" alt="Imagen de Título 2" width="100px" class="img-estilo"/>
                  <h2 class="letter4">Pindo Palms</h2>
                  <p class="letter3">Arrived 2/29/2024</p>
                  <button class="custom-button">Add to cart</button>
              </div>
          </div>

          <!-- Grupo5 -->
          <div class="container-card">
              <div class="card-content">
                  <img src="./../../../assets/img/planta1.png" alt="Imagen de Título 2" width="100px" class="img-estilo"/>
                  <h2 class="letter4">Dwarf Palmettos</h2>
                  <p class="letter3">Arrived 2/29/2024</p>
                  <button class="custom-button">Add to cart</button>
              </div>
          </div>

          <!--Grupo6 -->
          <div class="container-card">
              <div class="card-content">
                  <img src="./../../../assets/img/planta5.png" alt="Imagen de Título 2" width="100px" class="img-estilo"/>
                  <h2 class="letter4">Pindo Palms</h2>
                  <p class="letter3">Arrived 2/29/2024</p>
                  <button class="custom-button">Add to cart</button>
              </div>
          </div>
      </div>
  </section>

</body>
