<img src="./../../../assets/img/about-banner.png">
<div class="mas-grande2">
  <div class="contenedor-grande">
    <div class="div-imagen">
      <img src="./../../../assets/img/planta3.png">
    </div>
    <div class="div-texto">
      <h1 class="letter">USA Palms</h1>
      <h2 class="letter4">Our Mission</h2>
      <br>
      <p class="contenido">At USAPalms.com, our mission is to beautify and transform landscapes
        across the United States with our premium selection of palm trees and expert landscaping services.
        We are committed to bringing a touch of tropical and subtropical elegance to every corner of the nation,
         offering adaptable solutions for diverse climates and environments. Our dedication lies
          in providing exceptional customer service, sustainable practices, and innovative designs that meet
           the unique needs of each community we serve. By fostering a love for nature and a passion for
            greening America, USAPalms.com aims to create enduring value and joy for our customers,
            communities, and the environment.
        Together, we cultivate not just gardens, but a greener, more connected America.</p>
    </div>
  </div>
  <br>
  <br>
</div>
<div class="mas-grande">
  <div class="contenedor-grande">
    <div class="div-texto2">
      <h2 class="letter4">Our Vision</h2>
      <br>
      <p class="contenido">
        To revolutionize America's landscapes by becoming the leading provider of palm
        trees and tropical landscaping solutions, enriching every state with lush, sustainable
        green spaces that thrive. At USAPalms.com, we envision a future where our dedication to quality,
         innovation, and environmental stewardship makes us the cornerstone of community beautification projects,
          urban renewal initiatives, and private sanctuaries across the nation. We aim to inspire a deeper
           connection with nature, fostering well-being and environmental awareness in every project we undertake.
            Through our efforts, USAPalms.com will not only
        transform spaces but also nurture a greener, more vibrant future for all Americans.</p>
    </div>
    <div class="div-imagen2">
      <img src="./../../../assets/img/planta5.png">
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="contenedor-grande">
  <h1 class="letter5">Our values</h1>
  <p class="letter2">Values Statement of USAPalms.com: At USAPalms.com,
    our values are rooted in the belief that nature and beauty should be accessible to all,
     guiding our actions and decisions every day. Our core values include:</p>
</div>
<div class="container">
  <div class="row">
    <div class="column">
      <div class="icono">
      </div>
      <div>
        <h4 class="letter3">Sustainability and Environmental Stewardship</h4>
      </div>
    </div>
    <div class="column">
      <div class="icono">
      </div>
      <div>
        <h4 class="letter3">Quality and Excellence</h4>
      </div>
    </div>
    <div class="column">
      <div class="icono">
      </div>
      <div>
        <h4 class="letter3">Innovation and Adaptability</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="icono">
      </div>
      <div>
        <h4 class="letter3">Customer Satisfaction and Trust</h4>
      </div>
    </div>
    <div class="column">
      <div class="icono">
      </div>
      <div>
        <h4 class="letter3">Community and Collaboration</h4>
      </div>
    </div>
    <div class="column">
      <div class="icono">
      </div>
      <div>
        <h4 class="letter3">Education and Awareness</h4>
      </div>
    </div>
  </div>
</div>


