
<app-header></app-header>
<app-navbar></app-navbar>
<app-palm-expert></app-palm-expert>
<app-image-icon-card></app-image-icon-card>
<app-plant-palm-component></app-plant-palm-component>
<app-tropical-instant></app-tropical-instant>
<app-about></app-about>

<app-client-review></app-client-review>

<app-galeria-menor></app-galeria-menor>


<app-blog-menor></app-blog-menor>

<app-footer></app-footer>

<app-drag-and-drop></app-drag-and-drop>

<app-just-arrived></app-just-arrived>
<app-footer></app-footer>
