.example-box {
  height: 200px;
  width: 100px;
  cursor: move;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.example-boundary {
  width: 520px;
  height: 400px;
  border-radius: 20px;
  border: 3px solid var(--azul);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  z-index: 130;
}

.example-box{
  z-index: 120;
  margin-top: auto;
  margin-left: auto;
}

button {
  align-self: flex-end; /* Alinea el botón a la derecha */
}

.example-handle{
  align-self: flex-start;
  justify-content: flex-end; 
}

.resizable {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
}

.resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

.active{
    border: solid 2px var(--azul);
}