<section class="tropical-section">
    <div class="image-container">
        <img [src]="imgPalm" alt="Imagen tropical" class="tropical-image">
    </div>
    <div class="content-container">
        <h2>Instant Tropical Atmosphere!</h2>
        <p>Set it and forget it, seasonal palms for your patio, deck, or pool</p>
        <ul>
            <li>Place anywhere</li>
            <li>Easy maintenance</li>
            <li>Priced $149 to $299</li>
        </ul>
        <button>ADD TO CART</button>
    </div>
</section>
