<nav class="navbar">
    <!-- Logo -->
    <div class="logo">
        <img [src]="logoPath" alt="Logo">
    </div>

    <!-- Barra de búsqueda -->
    <ul class="navbar-list">
        <li class="search-bar">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Search your perfect palm tree">
        </li>

        <!-- Íconos adicionales -->
        <li class="icons">
            <i class="bi bi-question-lg question-icon"></i>
            <i class="bi bi-person-circle person-icon"></i>
            <i class="bi bi-cart3 car-icon"></i>
        </li>
    </ul>
</nav>

<div class="menu-list">
    <ul>
        <li><a href="#">About us</a><i class="bi bi-chevron-down"></i></li>
        <li><a href="#">Shop Palm Trees</a><i class="bi bi-chevron-down"></i></li>
        <li><a href="#">Rent Palm Trees</a><i class="bi bi-chevron-down"></i></li>
        <li><a href="#">Shop Tropical Planats</a><i class="bi bi-chevron-down"></i></li>
        <li><a href="#">Shop Accesories</a><i class="bi bi-chevron-down"></i></li>
        <li><a href="#">Services</a><i class="bi bi-chevron-down"></i></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>
