<div class="mas-grande">
  <div class="contenedor-grande">
    <h1 class="letter">Client Reviews</h1>
    <br>
    <p class="contenido">Experiencing the Excellence</p>
    <br>
    <div>
      <div class="container">
        <div>
          <p class="contenido2">This was like PALM TREE HEAVEN! They stocked mostly cold-hardy palms of different shapes and sizes...
            I look out my kitchen window every day and pinch myself. I've got my "Happy Place" now with the luscious,
             tropical palm trees in my very own backyard.</p>
          <div>
            <div class="icono">
              <img src="./../../../assets/img/person1.png">
            </div>
            <p class="letter2">Troy Wells</p>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
        <div>
          <p class="contenido2">Company is knowledgeable, professional, and friendly.
            Easy to work with. Plants look great... and the deer stay away.</p>
            <div>
              <div class="icono">
                <img src="./../../../assets/img/person2.png">
              </div>
              <p class="letter2">  R. Mathon (Atlanta, GA)</p>
              <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="circle">
      <i class="fa fa-circle"></i>
      <i class="fa fa-circle"></i>
      <i class="fa fa-circle"></i>
    </div>
  </div>
</div>
