<div class="cont-foot">
    <div class="sect-1">
        <div class="suscribe">
            <h2 style="color: var(--amarillo);">Suscribe</h2>
            <p style="font-family: Lato; color: var(--blanco);">Sign up to our mailing list for special offers, new
                products, expert advice and more.</p>
            <div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
                <input type="text" />
                <div class="btn-ama">
                    Sign Up
                </div>
            </div>
        </div>
    </div>
    <div class="sect-2">
        <div style="display: flex; flex-direction: column; justify-content: center; flex-direction: column; gap: 20px;">
            <div>
                <i class="fas fa-map-marker-alt" style="color: var(--amarillo);"></i>
                <i class="fas fa-map-marker-alt"></i>
                <p>11490 Maxwell Road</p>
            </div>

            <div>
                <i class="fas fa-map-marker-alt" style="color: var(--amarillo);"></i>
                <p>11490 Maxwell Road</p>
            </div>
            <div>
                <i class="fas fa-map-marker-alt" style="color: var(--amarillo);"></i>
                <p>11490 Maxwell Road</p>
            </div>

        </div>
        <div>

        </div>
        <div>

        </div>

    </div>
    <div class="sect-3">
        <p style="color: var(--blanco); font-family: Lato; font-weight: 500px;"></p>
    </div>

</div>